<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LLAutomaticPackaging.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C6411AB4F891D87091A57B0F4DB35597BC4220D8</string>
				<key>dateExpires</key>
				<string>2018/5/28</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y688PQN5Q4.com.HePai.HePaiiOS</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y688PQN5Q4</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>Y688PQN5Q4.com.HePai.HePaiiOS</string>
				</array>
			</dict>
			<key>name</key>
			<string>LLAutomaticPackaging.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>404e86c2-257d-4219-88cc-b1124446dbb6</string>
				<key>name</key>
				<string>iOS 87 ADHoc Distribution</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y688PQN5Q4</string>
				<key>name</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
